* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.scene {
    width: 100vw;
    height: 100vh;
    background: url("assets/montagne.jpg") center/cover no-repeat;
    overflow: hidden;
    position: relative;
}

.message {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 25px 40px;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
}
